*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    outline: none;
    color: white;
    font-weight: bold;
}
body{
    
    background-color: rgb(115, 15, 126);
}
h1{
    background-color: yellow;
    color: blue;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
}
h2{
    text-align: center;
    margin-top: 30px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.calculator{

    display: grid;
    grid-template-columns: repeat(4,68px);
    background-color:lightsteelblue;
    padding: 10px;

}
.calculator input{
    grid-column: span 4;
    height: 70px;
    color: black;
    font-size: 50px;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 20px;
}

.calculator button{
    background-color: white;
    color: black;
    height: 48px;
    width: 48px;
    border: 0;
    margin: 10px;
    font-size: 20px;
    border: 1px solid rgb(0, 0, 0);
}
.calculator button:hover{
    opacity: 0.7;
}
.calculator button:nth-of-type(12){
    color: red;
    font-weight: bolder;
    font-size: 10px;
    
}
.calculator a{  
    background-color: white;
    color: black;
    height: 36px;
    width: 48px;
    border: 0;
    margin: 10px;
    font-size: 20px;
    border: 1px solid white;
    text-decoration: none;
    text-align: center;
    padding-top: 12px;
}
.equal{
    width: 116px;
    border-radius: 30px;
}
/* services page */
.services{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    font-size: 25px;
    padding: 10px 20px;
    background-color: deepskyblue;
    margin-bottom: 20px;
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
}
.btn:hover{
    opacity: 0.9;
}
.btn-yes{
    font-size: 18px;
    padding: 10px;
    background-color: red;
    border: 1px solid ;
    
}
.btn-back{
    position: relative;
    left: 437px;
    bottom: 130px;
}
.div-btn{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-yes:hover{
    opacity: 0.9;
}

.btn-back:hover{
    opacity: 0.9;
}

